@model AutomotiveShop.model.Category

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Usuń kategorię</h2>

<h3>Jesteś pewny, że chcesz usunąć kategorię?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.Raw("Name")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Powrót do listy", "Index", null, new { @class = "btn btn-primary btn-xs" })
        </div>
    }
</div>
