@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title</h2>

<address>
    Wiktor Baran<br />
    Rzeszow, xx-xxx<br />
    xxx-xxx-xxx
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:wiktor.baran@yahoo.com">wiktor.baran[at]yahoo.com</a><br />
</address>